{% extends 'PicdumpBundle::layout.html.twig' %}

{% block javascripts %}
{% javascripts
        "@PicdumpBundle/Resources/assets/js/main.js"
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block body -%}

<div class="ui segment">
  <img src="{{ path('image_view_thumb', {'hash' : hash }) }}" class="ui medium image" />
  <br />
  <a class="ui blue button" href="{{ path('image_view_original', {'hash' : hash }) }}">Download</a>
</div>

{% endblock %}
