{% extends 'PicdumpBundle::layout.html.twig' %}

{% block javascripts %}
{% javascripts
        "@PicdumpBundle/Resources/assets/js/main.js"
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block body -%}

<div class="ui segment">
  <img src="/{{ hash }}_thumb" class="ui medium image" />
  <br />
  <a class="ui blue button" href="/{{ hash }}_orig">Download</a>
</div>

{% endblock %}
